.video-list {
  padding: 2rem;
  background-color: #fff;
  border-radius: 4px;
  margin: calc(2rem + 100px) 2rem 2rem;
}

.more {
  padding-top: 2rem;
  display: flex;
  justify-content: center;
}

.more button {
  padding: 0.25rem 0.75rem;
}
