.video-list-item {
    display: flex;
    align-items: center;
}

.video-list-item:not(:first-child) {
    padding-top: 1.5rem;
}

.video-list-item:not(:last-child) {
    padding-bottom: 1.5rem;
    border-bottom: 1px solid #ddd;
}

.video-list-item-image {
    width: 320px;
    height: 180px;
    margin-right: 2rem;
}

.video-list-item-image img:hover, .video-list-item-details h1:hover {
    cursor: pointer;
    color: blue;
}

.video-list-item-details h1 {
    font-size: 1.5rem;
}

.video-list-item-details p {
    font-size: 1.1rem;
    opacity: .9;
}