* {
  box-sizing: border-box;
}

body {
  background-image: url('img/seigaiha.png'),
    linear-gradient(
      0deg,
      rgba(1, 22, 44, 1) 0%,
      rgba(52, 73, 94, 1) 60%,
      rgba(12, 163, 194, 1) 100%
    );
  background-blend-mode: multiply;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
